[bucket "master.tryserver.webrtc"]
	builder = android_arm64_rel
	builder = android_clang_dbg
	builder = android_compile_arm64_dbg
	builder = android_compile_arm64_rel
	builder = android_compile_dbg
	builder = android_compile_mips_dbg
	builder = android_compile_rel
	builder = android_compile_x64_dbg
	builder = android_compile_x86_dbg
	builder = android_compile_x86_rel
	builder = android_dbg
	builder = android_experimental
	builder = android_more_configs
	builder = android_rel
	builder = ios32_sim_ios9_dbg
	builder = ios64_sim_ios10_dbg
	builder = ios64_sim_ios9_dbg
	builder = ios_api_framework
	builder = ios_arm64_dbg
	builder = ios_arm64_rel
	builder = ios_dbg
	builder = ios_rel
	builder = linux32_dbg
	builder = linux32_rel
	builder = linux_arm
	builder = linux_asan
	builder = linux_baremetal
	builder = linux_compile_dbg
	builder = linux_compile_rel
	builder = linux_dbg
	builder = linux_libfuzzer_rel
	builder = linux_memcheck
	builder = linux_more_configs
	builder = linux_msan
	builder = linux_rel
	builder = linux_tsan2
	builder = linux_ubsan
	builder = linux_ubsan_vptr
	builder = mac_asan
	builder = mac_baremetal
	builder = mac_compile_dbg
	builder = mac_compile_rel
	builder = mac_dbg
	builder = mac_rel
	builder = presubmit
	builder = win_asan
	builder = win_baremetal
	builder = win_clang_dbg
	builder = win_clang_rel
	builder = win_compile_dbg
	builder = win_compile_rel
	builder = win_compile_x64_dbg
	builder = win_compile_x64_rel
	builder = win_dbg
	builder = win_rel
	builder = win_x64_clang_dbg
	builder = win_x64_clang_rel
	builder = win_x64_dbg
	builder = win_x64_rel
	builder = win_x64_win10
	builder = win_x64_win8
