[bucket "master.tryserver.webrtc"]
	builder = android_arm64_rel
	builder = android_clang_dbg
	builder = android_compile_arm64_dbg
	builder = android_compile_arm64_rel
	builder = android_compile_dbg
	builder = android_compile_mips_dbg
	builder = android_compile_rel
	builder = android_compile_x64_dbg
	builder = android_compile_x86_dbg
	builder = android_compile_x86_rel
	builder = android_dbg
	builder = android_experimental
	builder = android_more_configs
	builder = android_rel
	builder = ios32_sim_ios9_dbg
	builder = ios64_sim_ios10_dbg
	builder = ios64_sim_ios9_dbg
	builder = ios_api_framework
	builder = ios_arm64_dbg
	builder = ios_arm64_rel
	builder = ios_dbg
	builder = ios_rel
	builder = linux32_dbg
	builder = linux32_rel
	builder = linux_arm
	builder = linux_asan
	builder = linux_baremetal
	builder = linux_compile_dbg
	builder = linux_compile_rel
	builder = linux_dbg
	builder = linux_libfuzzer_rel
	builder = linux_memcheck
	builder = linux_more_configs
	builder = linux_msan
	builder = linux_rel
	builder = linux_tsan2
	builder = linux_ubsan
	builder = linux_ubsan_vptr
	builder = mac_asan
	builder = mac_baremetal
	builder = mac_compile_dbg
	builder = mac_compile_rel
	builder = mac_dbg
	builder = mac_rel
	builder = presubmit
	builder = win_asan
	builder = win_baremetal
	builder = win_clang_dbg
	builder = win_clang_rel
	builder = win_compile_dbg
	builder = win_compile_rel
	builder = win_compile_x64_dbg
	builder = win_compile_x64_rel
	builder = win_dbg
	builder = win_rel
	builder = win_x64_clang_dbg
	builder = win_x64_clang_rel
	builder = win_x64_dbg
	builder = win_x64_rel
	builder = win_x64_win10
	builder = win_x64_win8
[bucket "master.tryserver.chromium.android"]
	builder = android_archive_rel_ng
	builder = android_arm64_dbg_recipe
	builder = android_blink_rel
	builder = android_clang_dbg_recipe
	builder = android_compile_dbg
	builder = android_compile_mips_dbg
	builder = android_compile_rel
	builder = android_compile_x64_dbg
	builder = android_compile_x86_dbg
	builder = android_coverage
	builder = android_cronet
	builder = android_cronet_tester
	builder = android_n5x_swarming_dbg
	builder = android_n5x_swarming_rel
	builder = android_optional_gpu_tests_rel
	builder = android_unswarmed_n5_rel
	builder = android_unswarmed_n5x_rel
	builder = cast_shell_android
	builder = linux_android_dbg_ng
	builder = linux_android_rel_ng
[bucket "master.tryserver.chromium.linux"]
	builder = Chromium Linux Codesearch Builder
	builder = ChromiumOS Codesearch Builder
	builder = cast_shell_audio_linux
	builder = cast_shell_linux
	builder = chromeos_amd64-generic_chromium_compile_only_ng
	builder = chromeos_daisy_chromium_compile_only_ng
	builder = chromium_presubmit
	builder = closure_compilation
	builder = fuchsia
	builder = linux_arm
	builder = linux_arm64_dbg
	builder = linux_arm64_rel
	builder = linux_arm_dbg
	builder = linux_arm_rel
	builder = linux_chromium_archive_rel_ng
	builder = linux_chromium_asan_rel_ng
	builder = linux_chromium_browser_side_navigation_rel
	builder = linux_chromium_cfi_rel_ng
	builder = linux_chromium_chromeos_asan_rel_ng
	builder = linux_chromium_chromeos_compile_dbg_ng
	builder = linux_chromium_chromeos_compile_rel_ng
	builder = linux_chromium_chromeos_dbg_ng
	builder = linux_chromium_chromeos_msan_rel_ng
	builder = linux_chromium_chromeos_ozone_rel_ng
	builder = linux_chromium_chromeos_rel_ng
	builder = linux_chromium_clobber_deterministic
	builder = linux_chromium_clobber_rel_ng
	builder = linux_chromium_compile_dbg_32_ng
	builder = linux_chromium_compile_dbg_ng
	builder = linux_chromium_compile_rel_ng
	builder = linux_chromium_dbg_32_ng
	builder = linux_chromium_dbg_ng
	builder = linux_chromium_gn_upload
	builder = linux_chromium_headless_rel
	builder = linux_chromium_msan_rel_ng
	builder = linux_chromium_ozone_compile_only_ng
	builder = linux_chromium_ozone_ng
	builder = linux_chromium_rel_ng
	builder = linux_chromium_tsan_rel_ng
	builder = linux_chromium_ubsan_rel_ng
	builder = linux_layout_tests_layout_ng
	builder = linux_layout_tests_slimming_paint_v2
	builder = linux_mojo
	builder = linux_mojo_chromeos
	builder = linux_nacl_sdk
	builder = linux_nacl_sdk_build
	builder = linux_optional_gpu_tests_rel
	builder = linux_site_isolation
	builder = linux_upload_clang
[bucket "master.tryserver.chromium.mac"]
	builder = ios-device
	builder = ios-device-xcode-clang
	builder = ios-simulator
	builder = ios-simulator-cronet
	builder = ios-simulator-eg
	builder = ios-simulator-xcode-clang
	builder = mac_chromium_10.10_macviews
	builder = mac_chromium_10.12_rel_ng
	builder = mac_chromium_archive_rel_ng
	builder = mac_chromium_asan_rel_ng
	builder = mac_chromium_compile_dbg_ng
	builder = mac_chromium_compile_rel_ng
	builder = mac_chromium_dbg_ng
	builder = mac_chromium_gn_upload
	builder = mac_chromium_rel_ng
	builder = mac_nacl_sdk
	builder = mac_nacl_sdk_build
	builder = mac_optional_gpu_tests_rel
	builder = mac_upload_clang
[bucket "master.tryserver.chromium.win"]
	builder = win10_chromium_x64_rel_ng
	builder = win10_chromium_x64_rel_ng_exp
	builder = win8_chromium_gn_upload
	builder = win_archive
	builder = win_chrome_official
	builder = win_chromium_compile_dbg_ng
	builder = win_chromium_compile_rel_ng
	builder = win_chromium_dbg_ng
	builder = win_chromium_rel_ng
	builder = win_chromium_syzyasan_rel
	builder = win_chromium_x64_rel_ng
	builder = win_clang
	builder = win_clang_dbg
	builder = win_clang_rel
	builder = win_clang_x64_dbg
	builder = win_clang_x64_rel
	builder = win_mojo
	builder = win_nacl_sdk
	builder = win_nacl_sdk_build
	builder = win_optional_gpu_tests_rel
	builder = win_pgo
	builder = win_pgo_x64
	builder = win_upload_clang
	builder = win_x64_archive
