[project "WebRTC"]
  viewURL = https://webrtc-status.appspot.com/
  statusURL = https://webrtc-status.appspot.com/current?format=json
  withCredentials = false
  enforceCommitQueue = true
  disabledBranchPattern = ^(?:refs/meta/config|refs/heads/infra/config|refs/gsubtreed-config|refs/branch-heads/.*|refs/old-branches/.*)$
