[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always
	mergeContent = true

[label "Code-Review"]
	value = -1 Don't submit as-is
	value =  0 No score
	value = +1 Looks good to me
	defaultValue = 0
	function = MaxWithBlock
	copyMinScore = true
	copyMaxScore = true
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Commit-Queue"]
	value =  0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyAllScoresIfNoChange = false
[label "Verified"]

[access "refs/*"]
	owner = group webrtc-admins
[access "refs/for/refs/*"]
	push = group Logged-in Public Users
	create = group Logged-in Public Users
	forgeAuthor = group webrtc-committers
	exclusiveGroupPermissions = addPatchSet
	addPatchSet = group webrtc-committers
	addPatchSet = group chrome-commit-bot
[access "refs/heads/*"]
	label-Code-Review = -1..+1 group webrtc-committers
	submit = group webrtc-committers
	abandon = group webrtc-committers
	label-Commit-Queue = +0..+2 group Logged-in Public Users
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	submit = group chrome-commit-bot
	push = group webrtc-committers
	forgeAuthor = group webrtc-committers
	push = group chrome-commit-bot
	forgeAuthor = group chrome-commit-bot

[access "refs/branch-heads/*"]
	create = group webrtc-releases
	forgeAuthor = group chrome-commit-bot
	forgeAuthor = group webrtc-committers
	forgeAuthor = group webrtc-releases
	forgeCommitter = group webrtc-releases
	push = group chrome-commit-bot
	push = group webrtc-committers
	push = +force group webrtc-releases

[access "refs/old-branches/*"]
	create = group webrtc-admins
	push = group webrtc-admins
	forgeAuthor = group webrtc-admins
	forgeCommitter = group webrtc-admins
[access "refs/heads/infra/config"]
	create = group webrtc-admins
	forgeAuthor = group webrtc-admins
	forgeCommitter = group webrtc-admins
	push = group webrtc-admins
[access "refs/gsubtreed-config/main"]
	create = group webrtc-admins
	push = group webrtc-admins

[plugin "git-numberer"]
	generate-enabled-refglob = refs/heads/master
	generate-enabled-refglob = refs/branch-heads/*
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/branch-heads/*
