[access]
	inheritFrom = All-Projects
[submit]
	action = rebase always

[label "Commit-Queue"]
	value =  0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyAllScoresIfNoChange = false

[access "refs/for/refs/*"]
	addPatchSet = group chrome-commit-bot
[access "refs/heads/*"]
	push = group chrome-commit-bot
	forgeAuthor = group chrome-commit-bot
	label-Commit-Queue = +0..+2 group Registered Users
	labelAs-Commit-Queue = +0..+2 group chrome-commit-bot
	submit = group chrome-commit-bot

[access "refs/branch-heads/*"]
	create = group webrtc-releasers
	forgeAuthor = group chrome-commit-bot
	forgeAuthor = group cria/project-webrtc-committers
	forgeAuthor = group webrtc-releasers
	forgeCommitter = group webrtc-releasers
	push = group chrome-commit-bot
	push = group cria/project-webrtc-committers
	push = +force group webrtc-releasers

[access "refs/old-branches/*"]
	create = group cria/project-webrtc-admins
	label-Code-Review = -1..+1 group cria/project-webrtc-admins
	submit = group cria/project-webrtc-admins
	abandon = group cria/project-webrtc-admins
	push = group cria/project-webrtc-admins
	forgeAuthor = group cria/project-webrtc-admins
	forgeCommitter = group cria/project-webrtc-admins
[access "refs/heads/infra/config"]
	label-Code-Review = -1..+1 group cria/project-webrtc-admins
	submit = group cria/project-webrtc-admins
	abandon = group cria/project-webrtc-admins
	push = group cria/project-webrtc-admins
	forgeAuthor = group cria/project-webrtc-admins
[access "refs/gsubtreed-config/main"]
	label-Code-Review = -1..+1 group cria/project-webrtc-admins
	submit = group cria/project-webrtc-admins
	abandon = group cria/project-webrtc-admins
	push = group cria/project-webrtc-admins
	forgeAuthor = group cria/project-webrtc-admins

[plugin "git-numberer"]
	generate-enabled-refglob = refs/heads/master
	generate-enabled-refglob = refs/branch-heads/*
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/branch-heads/*
