[access "refs/*"]
	owner = group webrtc-admins
[access "refs/gnumbd-config/main"]
	create = group webrtc-admins
	push = group webrtc-admins
[access "refs/gsubtreed-config/main"]
	create = group webrtc-admins
	push = group webrtc-admins
[access "refs/branch-heads/*"]
	create = group webrtc-releases
	forgeAuthor = group chrome-commit-bot
	forgeAuthor = group webrtc-committers
	forgeAuthor = group webrtc-releases
	forgeCommitter = group webrtc-releases
	push = group chrome-commit-bot
	push = group webrtc-committers
	push = +force group webrtc-releases
[access "refs/heads/*"]
	forgeAuthor = group chrome-commit-bot
	forgeAuthor = group webrtc-committers
	push = group chrome-commit-bot
	push = group webrtc-committers
[access "refs/old-branches/*"]
	create = group webrtc-admins
	push = group webrtc-admins
	forgeAuthor = group webrtc-admins
	forgeCommitter = group webrtc-admins
[access "refs/heads/infra/config"]
	create = group webrtc-admins
	forgeAuthor = group webrtc-admins
	forgeCommitter = group webrtc-admins
	push = group webrtc-admins
[plugin "git-numberer"]
	validate-enabled-refglob = refs/heads/master
	validate-enabled-refglob = refs/branch-heads/*
